body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}


/* Navabar */
.navbar {
    height: 5rems;
    background-color: white;
}

.fa-calendar-days {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* Footer */
.page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links, 
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    padding: 12px;
}

/* New page */

.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* Edit page */

.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* Show Page */
.delete-btn {
    background-color: #fe424d !important;
    border: none !important;
}

